<!-- Ｃａｒｏｕｓｅｌ-->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
 
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%=image_tag asset_path("item01.jpg"), class: "img-responsive" %>
      <div class="carousel-caption">
        <p>slide1</p>
      </div>
    </div>
    <div class="item">
      <%=image_tag asset_path("item01.jpg"), class: "img-responsive" %>
      <div class="carousel-caption">
        <p>slide2</p>
      </div>
    </div>
     <div class="item">
      <%=image_tag asset_path("item01.jpg"), class: "img-responsive" %>
      <div class="carousel-caption">
        <p>slide3</p>
      </div>
    </div>
  </div>
 
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!--test-news-->
<div class="block">
	<p>NEWS</p><p>2016/10/01 〇〇入荷しました。</p>
</div>


<!-- test-->

<section class="action">
		<div class="container">
			<div class="left-text hidden-xs">
				<h4>Amet porro numquam ratione</h4>
				<p><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi ut explicabo magni sapiente.</em><br><br>Inventore at quia, vel in repellendus, cumque dolorem autem ad quidem mollitia porro blanditiis atque rerum debitis eveniet nostrum aliquam. Sint aperiam expedita sapiente amet officia quis perspiciatis adipisci, iure dolorem esse exercitationem!</p>
			</div>
			<div class="right-image hidden-xs"></div>
		</div>
	</section>
	<!--test2-->
	<section class="action">
		<div class="container">
			<div class="right-text hidden-xs">
				<h4>Amet porro numquam ratione</h4>
				<p><em> Nisi ut explicabo magni sapiente.</em><br><br> cumque dolorem autem ad quidem mollitia porro blanditiis atque rerum debitis eveniet nostrum aliquam. Sint aperiam expedita sapiente amet officia quis perspiciatis adipisci, iure dolorem esse exercitationem!</p>
			</div>
			<div class="left-image hidden-xs"></div>
		</div>
	</section>
<!--test3-->
<div class="gallery">
		<div class="text-center">
			<h2>Gallery</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat quod voluptate consequuntur ad quasi, dolores obcaecati ex aliquid, dolor provident </p>
		</div>
		<div class="container">		
			<div class="col-md-4">
				<figure class="effect-marley">
					<%=image_tag asset_path("8.jpg"), class: "img-responsive" %>
					<figcaption>
						<h4>sweet marley</h4>
						<p>Marley tried to convince her but she was not interested.</p>				
					</figcaption>			
				</figure>
			</div>
			<div class="col-md-4">
				<figure class="effect-marley">
					<%=image_tag asset_path("9.jpg"), class: "img-responsive"  %>
					<figcaption>
						<h4>sweet marley</h4>
						<p>Marley tried to convince her but she was not interested.</p>				
					</figcaption>			
				</figure>
			</div>
			<div class="col-md-4">
				<figure class="effect-marley">
					<%=image_tag asset_path("10.jpg"), class: "img-responsive" %>
					<figcaption>
						<h4>sweet marley</h4>
						<p>Marley tried to convince her but she was not interested.</p>				
					</figcaption>			
				</figure>
			</div>
		</div>

<!--footer-->
<%= render partial: 'spree/shared/footer' %>